# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
venv.bak/
*.sqlite3
*.db

# Environment
.env
.env.*

# VSCode
.vscode/

# Node
node_modules/
*.log
dist/
build/

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
*.swo
.idea/
*.iml

# Ignore frontend build outputs
Foodlytics/frontend/build/
Foodlytics/frontend/dist/

# Ignore backend cache
Foodlytics/backend/__pycache__/
